---
 const personalImageAlt = "Roberto Mortera"
---

<article class="flex flex-col items-center justify-center gap-8 dark:text-[#fafafa] text-[#030303d9] md:flex-row">
  <div
    class="[&>p]:mb-4 text-lg lg:text-xl max-[700px] text-pretty order-2 md:order-1"
  >
    <p>
      I have strong knowledge and experience in 3D animation, focused
on the principles of animation, lip-sync and body mechanics.
Understanding of the workflow and pipeline of projects related to the
animation and VFX industry. My experience includes feature films,
TV series and commercials.
Strong communication, reporting and resource management, detailoriented
and well organized, open and willing to learn and to help.
    </p>
  </div>

  <img width="200" height="200" src="/profile_pic.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>